html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; /* Font installiert */
    background: #fff;
}

p {
    font-size: 0.875em;
    font-weight: 600;
    font-size: 600;
    color: #193251;
}

.list__h2 {
    display: block;
    margin-left: 2.25em;
    text-transform: uppercase;
}

.section--hidden {
    display: none;
}

#dashboard {

}

#codebuddys {

}

#teams {

}

#energy {

}

#journalpage {

}

#journalentry {

}


